/* Navigation section */
#navbar{
    flex-direction: column;
    width: auto;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* Home section */
#home{
    height: 280px;
    padding: 100px 68px;
}

#home::before{
    height: 450px;
}

#home p{
    font-size: 12px;
    width: auto;
}


/* Service section */
#services{
    flex-direction: column;

}

#services .box{

}

/* client section */
#clients{
    overflow: hidden;
    flex-wrap: wrap;
}

#clients img{
    /* padding: ; */
    width: 80px;
    height: auto;
}

/* utility classes */
.h-primary{
    font-size: 20px;
}

.btn{
    font-size: 13px;
    padding:4px 8px;
}
